:root {
  --main-bg-color: #100e1e;
  --main-font-color: crimson;
  --navbar-font: #100e1e;
  --light-slate: #ccd6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: Roboto;
}

.content {
  width: calc(100vw-10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-screen-content {
  display: none;
}

.footer {
  display: none;
}

.sidebar {
  position: fixed;
  top: 30vh;
  left: 0px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: crimson;
  align-items: center;
  font-size: 27px;
}

.sidebar > a {
  text-decoration: none;
  margin: 10px;
  color: var(--light-slate);
}

.sidebar > a:hover {
  color: crimson;
}

.vl {
  border-left: 2px solid var(--light-slate);
  height: 100px;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: var(--light-slate);
  border-radius: 50%;
}

.intro > h1 {
  color: crimson;
  font-size: 5em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
}

.intro > h2 {
  font-family: "Roboto";
  color: crimson;
  font-weight: bold;
}

.intro > h4 {
  font-family: "Roboto Mono";
  font-size: 1.3em;
  color: var(--light-slate);
}

.about-me > div > h2 {
  font-family: "Roboto Mono";
  color: crimson;
  font-weight: bold;
}

.main-container {
  margin-left: 85px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.navbar {
  z-index: 1;
  background-color: crimson;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0px;
  width: calc(100vw-10px);
}

.navbar > ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.navbar-ul > li {
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono";
  color: white;
  font-weight: bold;
}

.about-me {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60.8px);
}

.about-me > div > h2 {
  margin-left: 10px;
}

.about-me-p {
  max-width: 600px;
  color: var(--light-slate);
  margin-right: 100px;
  text-align: justify;
  min-width: 400px;
  width: auto;
  padding: 10px;
}

#skills {
  height: 60.8px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: 78vw;
}

.actual-skills {
  display: flex;
  flex-direction: column;
}

.skills-header {
  margin-left: 10px;
  margin-top: 20px;
  font-family: "Roboto Mono";
  color: crimson;
  font-weight: bold;
}

.programming-languages > h2 {
  margin-left: 10px;
  margin-top: 10px;
  color: crimson;
}

.programming-languages-ul {
  margin-left: 30px;
  list-style: circle;
}

.programming-lang-i {
  font-size: 5em;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Roboto Mono";
  font-weight: bold;
  text-decoration: none;
}

.frontend > i {
  font-size: 5em;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.frontend > h2 {
  margin-left: 10px;
  margin-top: 10px;
  color: crimson;
}

.frontend > ul {
  margin-left: 30px;
  list-style: circle;
}

.database > i {
  font-size: 5em;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.database > h2 {
  margin-left: 10px;
  margin-top: 10px;
  color: crimson;
}

.database > ul {
  margin-left: 30px;
  list-style: circle;
}

.skill {
  color: var(--light-slate);
  margin: 10px;
  border-radius: 5px;
  height: auto;
  min-width: 510px;
  width: auto;
}

.skill-paragraph {
  max-width: 600px;
  color: var(--light-slate);
  text-align: justify;
  min-width: 400px;
  width: auto;
  padding: 10px;
}

.homepage-link {
  font-family: "Roboto Mono";
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
}

img {
  width: 256px;
  height: 256px;
  padding: 10px;
  margin-right: 30px;
}

.last-link {
  margin-right: 40px;
}

.small-screen-navbar {
  display: none;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  color: var(--main-bg-color);
}

.navbar > ul > li:hover {
  background-color: white;
  color: var(--main-bg-color);
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60.8px);
}

.contact > h2 {
  font-family: "Roboto Mono";
  color: crimson;
  font-weight: bold;
}

.contact-list {
  list-style: circle;
}

.contact-list > li {
  font-size: 1.2em;
  margin-left: 30px;
  padding: 10px;
  font-family: "Roboto Mono";
  color: var(--light-slate);
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .content {
    display: none;
  }

  .sidebar {
    display: none;
  }
  .about-me > div {
    display: none;
  }

  h1 {
    margin-right: 10px;
  }

  .navbar {
    display: none;
  }

  .small-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .small-screen-navbar {
    display: flex;
    flex-direction: row;
    background-color: crimson;
    align-items: center;
    position: sticky;
    top: 0px;
  }

  .small-screen-navbar > ul {
    list-style: none;
    display: flex;
    margin-left: auto;
  }

  .ss-about-me {
    height: calc(100vh - 60.8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  p {
    margin: 10px;
    width: auto;
  }

  h2 {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .navbar > ul {
    display: none;
  }
}
